<h2>Клиент</h2>
{{#with client}}
    <div><h5>Имя: {{name}}</h5></div>
    <div><h5>Телефон:{{phone}}</h5></div>
    <input type="hidden" value="{{_id}}" name="id">
    <button class="btn" id="newVisitBtn" onclick="openNewVisit()">Добавить новое посещение</button>
    <div id="newVisit">
        <form action="/addNewVisit" method="POST">

            <div class="input-field">
                <input type="date" name="date" placeholder="Дата посещения">
                <input type="time" name="time" placeholder="Время посещения">
                <input type="text" name="servise" placeholder="Предоставляемая услуга">
                <input type="hidden" value="{{_id}}" name="id">
            </div>

            <button type="submit" class="btn">Добавить</button>
        </form>
    </div>
    <div><h5>Записи:</h5></div>
    {{#each visits}}
    <div class="todo">
        <label>
            <span >{{date}}</span>
            <span >{{time}}</span>
            <span >{{servise}}</span>
            <input type="hidden" value="{{_id}}" name="id">
        </label>
    </div>
    {{/each}}
{{/with}}
