<h2>Пациент</h2>
{{#with client}}
    <form action="/editRatingAndMap" method="POST">
    <div><h5>Имя:</h5><textarea class="materialize-textarea" name="name">{{name}}</textarea></div>
    <div><h5>Телефон:</h5><textarea class="materialize-textarea" name="phone">{{phone}}</textarea></div>
      <div class="row">
          <input type="hidden" value="{{_id}}" name="id">
      <label class="col s4 m3">
        <input class="with-gap" name="rating" type="radio" value="1" {{#if ratingG}}checked{{/if}} />
        <span>Хороший</span>
      </label>
      <label class="col s4 m3">
        <input class="with-gap" name="rating" type="radio" value="2" {{#if ratingB}}checked{{/if}}/>
        <span>Опаздывает</span>
      </label>
      <label class="col s4 m3">
        <input class="with-gap" name="rating" type="radio" value="3" {{#if ratingVB}}checked{{/if}}/>
        <span>Не явился</span>
      </label>
      </div>
    <div><h5>Карта пациента:</h5></h5></div>
    <div class="row">
            <div class="row">
                <div class="input-field col s12">
                
                    <input type="hidden" value="{{_id}}" name="id">
                    <textarea id="textarea1" class="materialize-textarea" name="mapClient">{{#if mapClient}}{{mapClient}}{{else}}Карта пока пустая{{/if}}</textarea>
                    <div class="row">
                    <button type="submit" class="col s12 m6 l4 btn btn-small">Изменить</button>
                    </div>
                </div>
            </div>
    </div>
    </form>
    <input type="hidden" value="{{_id}}" name="id">
    <div class="row">
    <button class="btn col s12 m6 l4" id="newVisitBtn" onclick="openNewVisit()">Добавить новое посещение</button>
    </div>
    <div id="newVisit">
        <form action="/addNewVisit" method="POST">

            <div class="input-field">
                <input type="date" name="date" placeholder="Дата посещения">
                <input type="time" name="time" placeholder="Время посещения">
                <input type="text" name="servise" placeholder="Предоставляемая услуга">
                <input type="hidden" value="{{_id}}" name="id">
            </div>

            <button type="submit" class="btn">Добавить</button>
        </form>
    </div>
    <div><h5>Записи:</h5></div>
    {{#each visits}}
    <div class="todo">
        <form action="/editing" method="POST">
            <div class="row visit">
            <span class="col s8 m4 l2"><input type="date" name="date" value="{{date}}"></span>
            <span class="col s4 m2 l2"><input type="time" name="time" value="{{time}}"></span>
            <span class="col s12 m4 l6"><input type="text" name="servise" value="{{servise}}"></span>
            <input type="hidden" value="{{id}}" name="id">
            <input type="hidden" value="{{ind}}" name="ind">
            <button type="submit" name="vote" value="changec" class=" col s12 m2 l2 btn btn-small">изменить</button>
            <button type="submit" name="vote" value="deleted" class=" col s12 m2 l2 btn btn-small red darken-4">удалить</button>
            </div>
        </form>
    </div>
    {{/each}}
{{/with}}
