<form action="/dateSwitch" method="POST">
<h2>Записи на {{strtoday}}</h2><input type="date" name="date" value={{strtoday}}> <button class="btn" type="submit">Посмотреть</button>
</form>
{{#if visitsToday.length}}
<ul>
  {{#each visitsToday}}
  <li class="todo">
    <form action="/thisclient" method="POST">
  
    <li class="todo">
        <div class="row visit">
            <span class="col s4 m2 srFont">{{time}}</span>
            <span class="col s8 m4 srFont">{{name}}</span>
            <span class="col s12 m4">{{servise}}</span>
            <input type="hidden" value="{{_id}}" name="id">
            <button class = "btn btn-small col s12 m2" type="submit">Открыть</button>
        </div>
    </li>
  </li>
  {{/each}}
</ul>
{{else}}
<p>Нет записей</p>
{{/if}}